<launch>
	
	<param name="benchmark_name" value="$(arg benchmark_name)" />
	
	<rosparam
		command="load"
		file="$(find transparent_benchmarking)/config/$(arg team_name).yaml"
	/>
	
	<node
		pkg="transparent_benchmarking"
		type="piggyback"
		name="transparent_benchmarking"
		output="screen">
	</node>
	
	<node
		pkg="rosbag"
		type="record"
		name="piggyback_recording"
		output="screen"
		args='record -a -o /home/enrico/ERL_bags/ERL_TB'
		>
	</node>
	<!--
		args='record -e "/rosout" "/rosout_agg" "/tf" "/tf_static" "/ERL/(.*)" -o /home/enrico/ERL_bags/ERL_TB'
	-->
	
</launch>

